/* General Styling */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: montserrat;
}

body {
    background-color: white;
}


.resume-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.left-section, .right-section {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background-color: #50121c;
}

.right-section {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background-color: white;
}
.profile-picture {
    width: 300px;
    height: 300px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #882d2d;
    margin-bottom: 20px;
    border-radius: 50%;
    
 
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px #e7e435;
    margin-top: 5%;
    margin-bottom: 5%;
}



ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section Styling */
.right-section {
    padding: 20px;
    width: 65%;
}

button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(121, 116, 116, 0.788);
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #f0efbb;

}    


